@import url("./list.css");
@import url("./sidebar.css");
@import url("./bootstrap.css");
@import url("./popup.css");


bory {
  display: flex;
  flex-direction: column;
}

.search {
  height: 42px%;
  width: 97%;
  padding-left: 2%;
  border: 2px solid var(--primary);
  font-size: 100%;
  margin: 7vh 0px -1vw 2vw !important;
  border-radius: 5px;
}
input:active {
  outline: none;
}
.text-conteiner {
  padding: 2px;
  margin-top: 1px;
}

h4 {
  color: var(--blue);
}
b {
  color: var(--red);
}

@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Regular.ttf)
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}