.list-group {
  padding: 0 !important;
  margin: 4vh 4vh 2vw 2vw !important;
  width: 96vw !important;
  margin-top: 2% !important;
}

.list-group-item {
  display: flex;
  justify-content: space-between !important;
  color: #007bff;
  cursor: pointer !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.list-group-item div {
  display: flex;
  flex-direction: column;
}

.list-group-item div span {
  color: var(--gray);
  font-size: 14px;
  text-decoration: none !important;
}

.list-group-item div span:hover {
  text-decoration: none !important;
}

.list-group-item:hover {
  color: #0056b3;
  text-decoration: underline;
}

.list-group-item input {
  width: 18px !important;
  height: 18px !important;
}

.content {
  display: flex !important;
  flex-direction: column;
  top: 0 !important;
  left: 0 !important;
  height: 7vh !important;
  width: 100% !important;
}

.container-fluid {
  margin: 0 !important;
}

.content nav {
  height: 100%;
  padding: 2%;
}

.content div {
  display: flex;

  margin-top: 1%;

  padding-left: 5%;
  padding-right: 5%;
}

.content div p {
  width: 80%;
}

.content div img {
  width: 120%;
}

.header {
  display: flex !important;
}

.icon {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  margin-left: 5px !important;
  width: 28px;
}

.btn-all {
  margin-right: 10%;
  margin-top: 4%;
  margin-left: 10%;
  height: 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active a {
  color: white;
}

.icon-header {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  margin-left: 5px !important;
  height: 5.5vh;
  width: 8.5vh;
}

.box-buttons {
  margin: 0px !important;
}
