.music-box-buttons {
  display: flex;
  margin-top: 2%;
}

.music-box-buttons div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.music-box-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  min-width: 5vw;
  margin: 0px 10px 0px 10px;
}

#texto_musica {
  padding-left: 4px;
}

#texto_musica b {
  padding-left: 4px;
  color: var(--red);
}
