.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000000aa;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.popup-box {
  width: 80vw;
  height: 74vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 64;
  position: relative;
  border-radius: 10px;
}

.popup-box .header {
  height: 7%;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0px 00px;
}

.popup-box .header span {
  color: white;
  font-size: 37px;
  padding-left: 2%;
}

.popup-box .popup-icon {
  height: 65%;
  margin-right: 2%;
}

.popup-box .popup-list {
  width: calc(100% - 40px) !important;
  margin: 20 !important;
  padding: 0 !important;
  height: 90% !important;
}

.popup-box .popup-line {
  align-items: center !important;

  margin-top: 5px !important;
  margin-bottom: 5px !important;
  width: calc(100% - 30px) !important;
  font-size: 30px;
}

.popup-box .header div {
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 2%;
}
